<!doctype html>
<html>
    <head>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <!-- <link rel="stylesheet" id="colorchange" href="../view/css/style.css"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <link rel="icon" href="image/logo/pngtree-food-logo-png-image_5297921.png">
    	<link rel="stylesheet" href="../view/css/aos.css">
        <link rel="stylesheet" href="../view/css/media.css">
        <link rel="stylesheet" href="../view/css/fancybox.css">
        <link rel="stylesheet" href="../view/css/style.css">
        <!-- <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script> -->
        <title>Foodie Paradise.</title>
    </head>
 <body class="hidden">
        <!-- <span id="circle" class="circle"></span> -->
          <!-- loader -->
         <div class="loader">
            <img src="../view/image/logo/logo.png" alt="">
         </div>
      <a href="javascript:void(0)" class="setting">
        <i class="fa-solid fa-gear"></i>
      </a>

      <!-- setting -->
      <a href="javascript:void(0)" class="setting">
        <!-- <i class="ri-settings-2-line"></i> -->
      </a>
      <div class="theme-box">
        <a href="javascript:void(0)" class="color-change" id="light">Light</a>
        <a href="javascript:void(0)" class="color-change" id="dark">Dark</a>
      </div>

        <header class="header">
            <div class="container">
                <div class="row d-flex align-item-center">
                    <div class="w-2 w-md-11">
                        <div class="cafe-logo">
                            <img src="image/logo/logo.png" alt="">
                        </div>
                        <!-- <div class="toggle">
                            <i class="fa-solid fa-gear"></i>
                        </div> -->
                    </div>
                    <!-- toggle -->

                    <div class="toggle w-xxl-none w-xl-none w-md-block">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                    
                    <nav class="justify-end d-flex w-md-none">
						<div class="w-8">
							<ul class="men align-item-center" data-aos="fade-up" data-aos-duration="1000">
								<li>
									<a href="#">Home</a>
								</li>
								<li>
									<a href="#">About</a>
								</li>
								<li>
									<a href="#">Coffee</a>
								</li>
								<li>
									<a href="#">Review</a>
								</li>
								<li>
									<a href="#">Blog</a>
								</li>
								<li>
									<a href="#">Pages</a>
								</li>
								
							</ul>
						</div>
					</nav>
                </div>
            </div>
        </header>
         <main>
            <!-- banner  -->
            <section class="banner w-md-12">
                <div class="container">
                    <div class="row">
                        <div class="black w-xs-12">
                            <p>Mon-Fri: 8am to 2pm //--Sat-Sun: 11am to 4pm // --    (012) 6985 236 7512</p>
                            <h6>How Can you Feel Energy</h6>

                            <h1 class="cd-headline rotate-1">
                                <span>Start your day with </span><br>
                                <span class="cd-words-wrapper">
                                    <b class="is-visible">black Coffee</b>
                                    <b>cold coffe</b>
                                    <b>Roasted Almond</b>
                                </span>
                            </h1>
                            <div class="btn">
                                <a href="#">BUY NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section2 -->
             <section>
                <div class="container">
                    <div class="row vid">
                        <div class="w-6 w-s-12 w-md-12">
                                <img src="image/banner/video-bg.jpg" alt="">
                            
                        </div>
                        <div class="w-6 w-s-12 w-md-12">
                            <div class="tt">
                                <h6>LIVE COFFEE MAKING PROCESS.</h6>
                                <h2>We Telecast our <br>
                                    Coffee Making Live</h2>
                                <h3>We are here to listen from you deliver exellence</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                                <img src="image/logo/signature.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section> 
            <!-- section 3 -->
              <section class="what">
                <div class="container">
                    <h2>What kind of Coffee we serve for you</h2>
                    <p>Who are in extremly love with eco friendly system</p>
                    <div class="row justify-center align-item-center">
                        <div class="w-4 w-xs-12 w-s-12 w-md-4">
                            <div class="cap">
                                <h4>Cappuccino
                                    <span>$49</span>
                                </h4>
                                <p>Usage of the Internet is becoming more<br/> common due to rapid advance.</p>
                            </div>
                        </div>
                        <!-- 222222222222222222 -->
                         <div class="w-4 w-xs-12 w-s-12 w-md-4">
                            <div class="cap">
                                <h4>Americano
                                    <span>$49</span>
                                </h4>
                                <p>Usage of the Internet is becoming more<br/> common due to rapid advance.</p>
                            </div>
                        </div> 
                        <!-- 333333333333 -->
                         <div class="w-4 w-xs-12 w-s-12 w-md-4">
                            <div class="cap">
                                <h4>Espresso
                                    <span>$49</span>
                                </h4>
                                <p>Usage of the Internet is becoming more<br/> common due to rapid advance.</p>
                            </div>
                        </div> 
                        <!-- 4444444444444 -->
                         <div class="w-4 w-xs-12 w-s-12 w-md-4">
                            <div class="cap">
                                <h4>Macchiato
                                    <span>$49</span>
                                </h4>
                                <p>Usage of the Internet is becoming more<br/> common due to rapid advance.</p>
                            </div>
                        </div> 
                        <!-- 5555555555555 -->
                         <div class="w-4 w-xs-12 w-s-12 w-md-4">
                            <div class="cap">
                                <h4>Mocha
                                    <span>$49</span>
                                </h4>
                                <p>Usage of the Internet is becoming more<br/> common due to rapid advance.</p>
                            </div>
                        </div> 
                        <!-- 666666666 -->
                         <div class="w-4 w-xs-12 w-s-12 w-md-4">
                            <div class="cap">
                                <h4>Coffee Latte
                                    <span>$49</span>
                                </h4>
                                <p>Usage of the Internet is becoming more<br/> common due to rapid advance.</p>
                            </div>
                        </div> 
                        <!-- 7777777777 -->
                         <div class="w-4 w-xs-12 w-s-12 w-md-4">
                            <div class="cap">
                                <h4>Piccolo Latte
                                    <span>$49</span>
                                </h4>
                                <p>Usage of the Internet is becoming more<br/> common due to rapid advance.</p>
                            </div>
                        </div> 
                        <!-- 8888888888888 -->
                         <div class="w-4 w-xs-12 w-s-12 w-md-4">
                            <div class="cap">
                                <h4>Ristretto
                                    <span>$49</span>
                                </h4>
                                <p>Usage of the Internet is becoming more<br/> common due to rapid advance.</p>
                            </div>
                        </div> 
                        <!-- 99999999999 -->
                         <div class="w-4 w-xs-12 w-s-12 w-md-4">
                            <div class="cap">
                                <h4>Affogato
                                    <span>$49</span>
                                </h4>
                                <p>Usage of the Internet is becoming more<br/> common due to rapid advance.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section> 
            <!-- section 4 -->
             <section class="wha">
                <div class="container">
                    <h2>What kind of Coffee we serve for you</h2>
                    <p>Who are in extremely love with eco friendly system.</p>
                    <div class="row">
                        <div class="w-4 w-s-12">
                            <div class="c-1">
                                <div class="im-4">
                                    <img src="image/banner/g1.jpg" alt="">

                                </div>
                                
                                <div class="im-5">
                                    <img src="image/banner/g2.jpg" alt="">

                                </div>
                            
                            </div>
                        </div>
                        <div class="w-8">
                            <div class="c-2">
                                <div class="im-1 w-s-12">
                                    <img src="image/banner/g3.jpg" alt="">

                                </div>
                                <div class="im-2 w-s-12">
                                    <img src="image/banner/g4.jpg" alt="">

                                </div>
                                <div class="im-3 w-s-12">
                                    <img src="image/banner/g5.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> 
            <!-- section5 -->
             <section class="review" id="particles-js">
                <div class="container">
                    <h2>What kind of Coffee we serve for you</h2>
                    <p>Who are in extremely love with eco friendly system.</p>
                    <div class="row">
                        <div class="w-6 w-xs-12 w-s-6">
                            <div class="review-1">
                                <img src="image/logo/r1.png" alt="">
                                <h4>lorem ipusm <span><i class="fa-brands fa-facebook"></i></span>
                                </h4>
                                <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
                                
                                </p>
                            </div>
                        </div>
                        <div class="w-6 w-xs-12 w-s-6">
                            <div class="review-1">
                                <img src="image/logo/r2.png" alt="">
                                <h4>lorem ipusm <span><i class="fa-brands fa-facebook"></i></span>
                                </h4>
                                <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
                                
                                </p>
                            </div>
                        </div>
                        <div class="w-3 w-xs-12 w-s-6">
                            <div class="happy">
                                <h2 class="counter" data-speed="5000">200</h2>
                                <p>Happy Client</p>
                            </div>
                        </div>
                        <div class="w-3 w-xs-12 w-s-6">
                            <div class="happy">
                                <h2 class="counter" data-speed="5000">62</h2>
                                <p>Total Project</p>
                            </div>
                        </div>
                        <div class="w-3 w-xs-12 w-s-6">
                            <div class="happy">
                                <h2 class="counter" data-speed="5000">253</h2>
                                <p>Cups Coffee</p>
                            </div>
                        </div>
                        <div class="w-3 w-xs-12 w-s-6">
                            <div class="happy">
                                <h2 class="counter" data-speed="5000">136</h2>
                                <p>Total Submitted</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section> 
            <!-- section 6 -->
             <section class="travel">
                <div class="container">
                    <h2>What kind of Coffee we serve for you</h2>
                    <p>Who are in extremely love with eco friendly system.</p>
                    <div class="row">
                        <div class="w-6 w-s-6 w-xs-12">
                            <div class="life">
                                <img src="image/banner/b1.jpg" alt="">
                                <div class="btn-2">
                                    <a href="#">Travel</a>
                                </div>
                                <h3>Portable latest Fashion for young women</h3>
                               <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, consectetur sit? Maxime libero dicta amet, hic what die thyr rtydf.
                                31st January, 2018</p>
                            </div>
                        </div>
                        <div class="w-6 w-s-6 w-xs-12">
                            <div class="life">
                                <img src="image/banner/b2.jpg" alt="">
                                <div class="btn-2">
                                    <a href="#">Travel</a>
                                </div>
                                <h3>Portable latest Fashion for young women</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, consectetur sit? Maxime libero dicta amet, hic what die thyr rtydf.
                                31st January, 2018</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
             <footer>
                <section class="ab">
                    <div class="container">
                        <div class="row">
                            <div class="w-4 w-xs-6 w-s-6">
                                <h4>About Us</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
                            </div>
                            <div class="w-4 w-xs-6 w-s-6">
                                <div class="newsletter">
                                    <h4 data-aos="fade-up-right" data-aos-duration="1000">Newsletter</h4>
                                    <p>Stay update with our latest</p>
                                    <input type="text" placeholder="Enter Your E-mail">
                                </div>
                            </div>
                            <div class="w-4">
                                <div class="follow">
                                    <h4>Follow Us</h4>
                                    <p>Let us be social</p>
                                    <a href="">
                                        <i class="fa-brands fa-facebook" style="color: #f7f7f7;"></i>
                                    </a>
                                    <a href="">
                                        <i class="fa-brands fa-twitter" style="color: #f8f9fc;"></i>
                                    </a>
                                    <a href="">
                                        <i class="fa-solid fa-basketball" style="color: #eeeff1;"></i>
                                    </a>
                                    <a href="">
                                        <i class="fa-brands fa-behance" style="color: #f0f2f4;"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </footer>
            <div class="bottom-to-top">
                <a href="#">
                    <i class="fa-solid fa-up-long"></i>
                </a>
            </div>
        <script src="js/java.js"></script>
        <script>
            AOS.init();
          </script>
        <script src="../view/js/jquery.min.js"></script>

        <!-- particles -->
        <script src="../view/js/particles.min.js"></script>

        <script src="../view/js/app.js"></script>
    
          <!-- fancy-box -->
          <script src="../view/js/fancybox.umd.js"></script>
        <script>
            Fancybox.bind("[data-fancybox]", {
            });
        </script>

        <!-- loader -->
        
        <script>
            $(window).on('load',function(){
                $('.loader').delay(1500).fadeOut(2000);
            })

        </script>

        <script>
             
        // Fixed header
            $(window).scroll(function(){
                if($(window).scrollTop() >300){
                    $(".header").addClass("fixed-header");
                }

                else{
                    $(".header").removeClass("fixed-header");
                }

            });

            // // pointer
                        jQuery(document).ready(function() {

            var mouseX = 0, mouseY = 0;
            var xp = 0, yp = 0;
            
            $(document).mousemove(function(e){
            mouseX = e.pageX - 30;
            mouseY = e.pageY - 30; 
            });
            
            setInterval(function(){
            xp += ((mouseX - xp)/6);
            yp += ((mouseY - yp)/6);
            $("#circle").css({left: xp +'px', top: yp +'px'});
            }, 20);

            });

            // setting
            $(".setting").click(function(){
                $(".theme-box").slideToggle();
            });
            // theme-box
            // $(".theme-box a").click(function(){
            //         var jinkal = $(this).data('path');
            //         $("#colorChange").attr('href',jinkal);
            //     });

            $(".color-change").click(function(){
                var color =$(this).attr ('id');
                $('#colorchange').attr ('href','css/' + color + '.css');
            })
        </script>

        <!-- counter -->
        <script>
            (() => {
    const counter = document.querySelectorAll('.counter');
    // covert to array
    const array = Array.from(counter);
    // select array element
    array.map((item) => {
        // data layer
        let counterInnerText = item.textContent;

        let count = 1;
        let speed = item.dataset.speed / counterInnerText
        function counterUp() {
            item.textContent = count++
            if (counterInnerText < count) {
                clearInterval(stop);
            }
        }
        const stop = setInterval(() => {
            counterUp();
        }, speed);
    })
})()

 </script>
    <!-- headline -->
    
 <script>
    var animationDelay = 3500;
 
 animateHeadline($('.cd-headline'));
  
 function animateHeadline($headlines) {
     $headlines.each(function(){
         var headline = $(this);
         //trigger animation
         setTimeout(function(){ hideWord( headline.find('.is-visible') ) }, animationDelay);
         //other checks here ...
     });
 }
 
 function hideWord($word) {
     var nextWord = takeNext($word);
     switchWord($word, nextWord);
     setTimeout(function(){ hideWord(nextWord) }, animationDelay);
 }
  
 function takeNext($word) {
     return (!$word.is(':last-child')) ? $word.next() : $word.parent().children().eq(0);
 }
  
 function switchWord($oldWord, $newWord) {
     $oldWord.removeClass('is-visible').addClass('is-hidden');
     $newWord.removeClass('is-hidden').addClass('is-visible');
 }
 
 singleLetters($('.cd-headline.letters').find('b'));
  
 function singleLetters($words) {
     $words.each(function(){
         var word = $(this),
             letters = word.text().split(''),
             selected = word.hasClass('is-visible');
         for (i in letters) {
             letters[i] = (selected) ? '<i class="in">' + letters[i] + '</i>': '<i>' + letters[i] + '</i>';
         }
         var newLetters = letters.join('');
         word.html(newLetters);
     });
 }
 </script>

    <script>
        $(document).ready(function(){
            $(".toggle").click(function(){
                $("nav").fadeToggle(2000);
            })
        })
    </script>
    </body>
</html>